# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/greencart_logistics

# JWT Configuration
JWT_SECRET=yourJWTSecretKeyHere
JWT_EXPIRATION=86400000

# Server Configuration
PORT=8080

# Application Environment
SPRING_PROFILES_ACTIVE=prod
